<template>
  <div class="main-screen" :class="pokemon.types[0]?.type.name" v-if="pokemon">
    <div class="screen__header">
      <span class="poke-name">{{ toUppercase(pokemon.name) }}</span>
      <span class="poke-id"># {{ pokemon.id }}</span>
    </div>
    <div class="screen__image">
      <img
        :src="pokemon.sprites.front_default"
        class="poke-front-image"
        alt="front"
      />
      <img
        :src="pokemon.sprites.back_default"
        class="poke-back-image"
        alt="back"
      />
    </div>
    <div class="screen__description">
      <div class="stats__types">
        <span class="poke-type-one">{{ pokemon.types[0]?.type.name }}</span>
        <span class="poke-type-two" v-if="pokemon.types[1]">{{
          pokemon.types[1]?.type.name
        }}</span>
      </div>
      <div class="screen__stats">
        <p class="stats__weight">
          weight: <span class="poke-weight">{{ pokemon.weight }}</span>
        </p>
        <p class="stats__height">
          height: <span class="poke-height">{{ pokemon.height }}</span>
        </p>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import {defineComponent} from 'vue'
import usePokemonSelection from '../composables/use-pokemon-selection'
import useNameConverter from '../composables/use-name-converter'

export default defineComponent({
  name: 'PokeOverview',

  setup() {
    const {pokemon} = usePokemonSelection()
    const {toUppercase} = useNameConverter()
    return {pokemon, toUppercase}
  },
})
</script>
