<template>
  <div
    class="list-item"
    v-for="(pokemon, i) in pokemonList"
    :key="i"
    @click="onClick(pokemon)"
  >
    {{ pokemon.number }}. {{ toUppercase(pokemon.name) }}
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import usePokemonSelection from '../composables/use-pokemon-selection'
import usePokemonPage from '../composables/use-pokemon-page'
import useNameConverter from '../composables/use-name-converter'
import PokeListItem from '../models/PokeListItem'

export default defineComponent({
  name: 'PokeList',

  async setup() {
    const {pokemonList, initPokemonList} = usePokemonPage()
    const {setPokemonSelection} = usePokemonSelection()
    const {toUppercase} = useNameConverter()
    await initPokemonList()

    const onClick = (pokemon: PokeListItem) => {
      setPokemonSelection(pokemon)
    }

    return {pokemonList, toUppercase, onClick}
  },
})
</script>
