<template>
  <div class="left-button" @click="fetchPrevPage">Prev</div>
  <div class="right-button" @click="fetchNextPage">Next</div>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import usePokemonPage from '../composables/use-pokemon-page'
export default defineComponent({
  name: 'RightButtons',
  setup() {
    const {fetchPrevPage, fetchNextPage} = usePokemonPage()
    return {fetchNextPage, fetchPrevPage}
  },
})
</script>
